.progress {
    transform: rotate(-90deg);
}

.progress__value {

    stroke-linecap: round;
}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 234, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms
}
.choice-prefix {
    padding: 1.5rem;
    background-color: orangered;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
} 
.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* Hud*/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text { 
    text-align: center;
    margin-top: 3rem;
}

#progressBar {
    width: 26rem;
    height: 4rem;
    border: 0.3rem solid orangered;
    margin-top: 1.5rem;
}


#progressBarFull {
    height: 3.4rem;
    background-color: orangered;
    width: 0%;
}

#counterBar {
    
    height: 10rem;
    width: 10rem;
    margin-top: 0.5rem;
    padding: auto;
    border-radius: 50%;
    border: 1px solid orangered;
    
}


/*LOADER */
/* 
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(300deg);
    }
} */

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  #lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: orangered transparent orangered transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  #passMessage {
      font-size: 2rem;
      color: #28a745;
      margin-bottom: 1.5rem;
  }

  #failMessage {
    font-size: 2rem;
    color: #dc3545;
    margin-bottom: 1.5rem;
  }

  #questionSection {
      margin-top: 3rem;
      font-size: 1.5rem;
  }

  small {
    text-align: center; 
    margin-top: 1rem;
    font-size: 1rem;
  }
  .blink {
    animation: blinker 0.6s linear infinite;
    
   }
  @keyframes blinker {  
    50% { opacity: 0; }
   }
   

  